﻿<p>The anteateris the <em>strangest</em> looking animal, isn't it?</p>
<p>Take a <strong>left turn </strong> at <strong>Dee's Hop Stop</strong>. 
<p><code>#include "trans.h"</code></p>
<p><The URL for that page is <samp>http://www.cern.ch/</samp></p>
<p>Type the following command: <kbd>find . -name "prune" -print</kbd></p>
<p><code>chown </code><var>your_name the_file</var></p>
<p>Styles that are named after how they are used are called <dfn>logical styles</dfn></p>
<p>eggplant has been known to cause nasea in some people<cite> (leamy, 1994)</cite></p>
<p>Use the standard two-letter state abbreviation (such as <abbr>CA</abbr> for California)</p> 