﻿<header>
  <h1>
  Casita Sedona Bed &amp; Breakfast
  </h1>
</header>

<nav>
  <b>
    Home &nbsp;
    Rooms &nbsp;
    Events &nbsp;
    Contacts
  </b>
</nav>

<main>
<h2>Stay in the Heart of Sedona</h2>
  <p>At Casita Sedona Bed &amp; Breakfast you&rsquo;ll be close to art gallaries, shops, restaurants, hiking trails, and tours. Ride the free trolley to shops and gallerie.</p>
  <h3>Luxurious Rooms</h3>
  <p>Stay in a well-appointed room at Casita Sedona with your own fireplace, king-size bed, and balconyoverlooking the red rocks.</p>
</main>

<div>
  <strong>Casita Sedona Bed &amp; Breakfast</strong><br>
  612 Tortuga Lane<br>
  Sedona, AZ 86336<br>
  928-555-5555<br>
  </div>

<footer>
  <small><Copyright &copy; 2018 Your Name Here </i></small>
</footer>