﻿<h1>Web Design Steps<h1>
<ul>
  <li><strong>Determine the Intended Audience</strong> <br> The colors, images, fonts, and layout should be tailored to the <em> preference of your audience.</em> The type of site content (reading level, amount of animation, etc.) should be appropriate for your chosen audience. </li>
<p><small>Copyright &copy; 2018 Your name. All Rights Reserved.</small></p>