﻿<header>
  <h1>Trillium Media Design</h1>
</header>

<nav>
  <b>Home &nbsp; Service &nbsp; Contact</b>
</nav>

<main>
  <p>Trillium Media Design offers a comprehensive range of services to take your company&rsquo; s Web presence to the next level.</p>
  <h2>Meeting Your Business Needs</h2>
  <p>Our expert designers will listen to you as they create a website that helps to promote and grow your business.</p>
</main>

<footer>
  <small><i>Copyright &copy; 2018 Your Name Here</i></small>
</footer>

