﻿<p>Call for a free quote for your web development needs:
<strong>888.555.5555</strong></p>

<blockquote>
The power of the Web is in its univesality.
<em>Access by everyone</en> regardless of disability is an essential aspect.
</bockquote>

<h1>My Favorite Colors</h1>
<ol>
   <li>Blue</li>
   <li>Teal</li>
   <li>Red</li>
   </ol>

