﻿<header>
  <h1>Trillium Media Design</h1>
</header>

<nav>
  <b>
   <a href="Home.html">Home</a> &nbsp;
   <a href="Services.html">Services</a> &nbsp;
   <a href="Contact.html">Contact</a>  
  </b>
</nav>

<main>
 <h2>Contact Media Design Today</h2>
  <ul>
   <li>E-mail:<a href="mailto:contact@trilliummediadesign">contact@trilliummediadesign.com</a></li>
   <li>Phone:555-555-5555</li>
  </ul>
</main> &nbsp;
  
<footer>
  <small><i>Copyright &copy;2018 William Rovinski</i></small>
</footer>

