<body>
<h1>Heading Level 1</h1>
<p>This is a sample paragraph. <br> Heading tags can help you make your pages more accessible and usable. It is good coding practice to use heading tags to outline the structure of your webpage content.
</p> 
<hr>
<h2>Heading Level 2</h2>

<h3>Heading Level 3</h3>

<h4>Heading Level 4</h4>

<h5>Heading Level 5</h5>

<h6>Heading Level 6</h6>

</body>

