﻿<header>
  <h1>Trillium Media Designs</h1>
</header>

<nav>
  <b>
    <a href="index.html">Home</a> &nbsp;
    <a href="services.html">Services</a> &nbsp;
    <a href="contact.html">Contact</a>
  </b>
</nav>

<h2> Our Services Meet Your Business Needs</h2>
  <d1>
    <dt><strong>Website Design</strong></dt>
      <dd>Whether your needs are large or small, Trillium can get you on the Web!</dd>
    <dt><strong>E-Commerce Solutions</strong></dt>
      <dd>Trillium offers quick entry into the e-commerce marketplace.</dd>
    <dt><strong>Search Engine Optimization</strong></dt>
      <dd>Most people find new sites using search engines. Trillium can get your website noticed.</dd>
  </d1>

<h2>Contact Trillium Media Design Today</h2>
   <u1>
     <li>E-mail: contact@triliummdesign.com</li>
     <li>Phone: 555-555-5555</li><br>

<footer>
  <small><i>Copyright &copy; 2018WilliamRovinski</i></small>
</footer>


 

