﻿<body>
<h1>A beautiful Day</h1>
<p>The sun was shining and it was bright. <br> The birds were churping and the bees were buzzing do their work. <br> It was also very warm out and I decided this was the best temperature to go for a run.
</p>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>
