h1       {  border: solid 4px #000033; 
			background: #000033; 
			color: white; }
nav      {  background: #90C7E3; 
			border: solid 1px #90C7E3; }
h2       {  color: #3399CC; }
dt        { color: #5C7FA3; }
dd        { color: #666666; }		