 h1       { margin-bottom: 0; 
            border: solid 4px #000033; 
			background: #000033; 
			color: white; }
 nav      { margin-top: 0; 
            background: #90C7E3; 
			border: solid 1px #90C7E3; } 
 p        { color: #666666; }
 ul       { color: #666666; }
 footer   { color: #666666; } 
 h2       { color: #3399CC; } 
 .gator   { color: #5C7FA3; }