body   { background-color: #FFFFFF;
         color: #191970; }
h1     { background-color: #191970;
         color: #E6E6FA; }
h2     { color: #6A6AA7; }
nav    { background-color: #E2E2EF; }
footer { color: #666666; }
.companyname { color: #6A6AA7; }