*{ box-sizing: border-box; }
header, main, nav, footer, section, article, figure, figcaption, aside, section, article { display: block; }
#wrapper { width: auto%;
             background-color: #90C7E3;
             background-image: linear-gradient(#FFFFFF, #90C7E3);
			 border-left: none;
             border-right: none;
             border-top: none;
             border-right: none; 			 
			 border-color: #000033;
			 min-width: 0px;
			 max-width: 2048px;
			 box-shadow: 0px;
             margin-top: 0px;
             margin-left: auto; 
             margin-right: auto; }
			 
header   {  padding-left: 0em;
            padding-top: 0.5em;
			padding-bottom: 0.5em; 
            height: auto;			
			padding-bottom: 8px; 
			font-size: 2.00em; 
			font-family: Britannic Bold; 
            color: #FFFFFF;  
            background-color: #000033; }

nav li { display: inline;
         padding-top: .25em;
         padding-bottom: .25em;		 
		 padding-left: .25em; 
		 padding-right: .25em; }
			
a:link { color: #5C7FA3; }

a:visited { color: #344873; }

a:hover { color: #A52A2A; }
			
nav      { display: inline;
           margin-bottom: 10px;
		   width: 60px; 
		   text-align: center;
           padding-top: 5px; 		   
           font-family: Verdana, Arial, sans-serif; 
		   font-size: 130%; } 
           
		   
h1       { font-size: 3em; 
           margin-bottom: 0px; 
           margin-top: .25em;
           letter-spacing: 0.1em; }

nav a    { text-decoration: none; }

#homehero{ height: 200px;
       float-right: 300px; 
       margin-left: 0px;
       background-image: url('coast.jpg');
	   background-size: 100% 100%; 
	   background-repeat: no-repeat; }

h2       { color: #6495ED;
           font-family: Georgia, "Times New Roman", serif; 
		   padding-left: 30px; }

h5       { text-align: center;
           margin-top: 0;
           padding-bottom: 10px; }

footer   { color: #666666;
           text-align: center;
           margin-left: 0px;		   
		   margin-bottom: 0px; 
		   margin-top: 80px; } 

p        { padding-left: 30px; 
           margin-bottom: 0px; 
           margin-top: 0px; }
		   
h3       { padding-left: 30px; }


body { background-color: #FFFFFF;
       margin: 0px; } 

main { background-color: white; 
       margin-left: 0px;
	   padding-left: 0px; 
	   /* The following declaration forces IE to display
	   the new HTML5 main element as needed. 
       The display property is introduced in Chapter 7	 */
	   display: block;  }
	   
ul { list-style-type: none; 
     margin-top: 10px; }

 
@media only screen and (max-width: 64em) { }

#trail{ height: 300px;
       float-right: 300px; 
       margin-left: 5px;
       background-image: url('trail.jpg');
	   background-size: 100% 100%; 
	   background-repeat: no-repeat; }

</style>