<style>
*{ box-sizing: border-box; }
header, main, nav, footer, section, article, figure, figcaption, aside, section, article { display: block; }

#wrapper { width: 26.3%;
             background-color: #90C7E3;
             background-image: linear-gradient(#FFFFFF, #90C7E3);
			 border-left: 1px;
             border-right: 1px;
             border-top: 1px;
             border-right: 1px; 			 
			 border-color: #000033;
	
			 box-shadow: 3px 3px #333333;
             margin-top: 0px;
             margin-left: auto; 
             margin-right: auto; }
			 
header   {  padding-left: 4em;
            padding-top: 15px;
			padding-bottom: 30px; 
            height: 120px			
			padding-bottom: 8px; 
			font-size: 1.10em; 
			font-family: Britannic Bold; 
            color: #FFFFFF;  
            background-color: #000033; }

a:link { color: #5C7FA3; }
a:visited { color: #344873; }
a:hover { color: #A52A2A; }
			
nav li { border-bottom: 2px solid; 
	   border-color: #330000; }

th {  } 
	   
nav      { margin-bottom: 10px;
		width: 60px; 
        padding-top: 5px; 		   
        font-family: Verdana, Arial, sans-serif; 
		font-size: 130%; } 
           
		   
h1       { font-size: 2em; 
           margin-bottom: 0px; 
           margin-top: .25em; }

nav a    { text-decoration: none; }

#homehero{ height: auto; 
       margin-left: 5px;
	   background-size: 100% 100%; }

h2       { color: #6495ED;
           font-family: Georgia, "Times New Roman", serif; 
		   padding-left: 30px; }

h5       { text-align: center;
           margin-top: 0;
           padding-bottom: 10px; }

footer   { color: #666666;
           text-align: center; 
		   margin-bottom: 0px; 
		   margin-top: 80px; } 

p        { padding-left: 30px; 
           margin-bottom: 0px; 
           margin-top: 0px; }
		   
h3       { padding-left: 30px; }


body { background-color: #B8DBED; } 

main { background-color: white; 
       margin-top: 8px;
	   padding-left: .47em;
       padding-right: 1em;	   
	   /* The following declaration forces IE to display
	   the new HTML5 main element as needed. 
       The display property is introduced in Chapter 7	 */
	   display: block;  }
	   
ul { list-style-type: none; 
     margin-top: 10px; }
 
.gator   { color: #6495ED; 
           font-weight: bold; 
		   font-size: 1.1em; }
@media only screen and (max-width: 37.5em) { }
</style>