<style>
*{ box-sizing: border-box; }

#wrapper { width: 66%;
             height: auto; 
             background-color: #90C7E3;
             background-image: linear-gradient(#FFFFFF, #90C7E3);
			 border-left: 1px;
             border-right: 1px;
             border-top: 1px;
             border-right: 1px; 			 
			 border-color: #000033;
			 min-width: 960px;
			 max-width: 2048px;
			 box-shadow: 3px 3px #333333;
             margin-top: 0px;
             margin-left: auto; 
             margin-right: auto; }
			 
header   {  padding-left: 7.8em;
			padding-bottom: 30px; 
			background-image: url(sunset.jpg);
			background-repeat: no-repeat; 
            background-position: right; 
			height: 100px;			
			font-size: 1.80em; 
			font-family: Britannic Bold; 
            color: #FFFFFF;  
            background-color: #000033; }

a:link { color: #000033; }
a:visited { color: #344873; }
a:hover { color: #A52A2A; }
			
nav      { float: left;
           margin-bottom: 10px;
		   width: 60px; 
           padding-top: 5px; 		   
           font-family: Verdana, Arial, sans-serif; 
		   font-size: 130%; } 
           
		   
h1       { font-size: 3em; 
           margin-bottom: 0px; 
           margin-top: .25em; }

nav a    { text-decoration: none; }

#homehero{ height: 300px; 
       margin-left: 5px;
       background-image: url('coast.jpg');
	   background-size: 100% 100%; 
	   background-repeat: no-repeat; }
	   
#label { margin-top: 10px; }

h2       { color: #6495ED;
           font-family: Georgia, "Times New Roman", serif; 
		   padding-left: 30px; 
		   margin-top: 0px;
           padding-top: 15px; }

h5       { text-align: center;
           margin-top: 0;
           padding-bottom: 10px; }

footer   { color: #666666;
           text-align: center; 
		   margin-bottom: 0; 
		   margin-top: 80px; } 

p        { padding-left: 30px; 
           margin-bottom: 0px; 
           margin-top: 0px; }
		   
h3       { padding-left: 30px;
           color: #000033; }


body { background-color: #B8DBED; } 

main { background-color: white; 
       margin-left: 200px;
	   padding-left: 0px; 
	   height: 770px;
	   /* The following declaration forces IE to display
	   the new HTML5 main element as needed. 
       The display property is introduced in Chapter 7	 */
	   display: block;  }
	   
ul { list-style-type: none; 
     margin-top: 10px; }

 
.gator   { color: #6495ED; 
           font-weight: bold; 
		   font-size: 1.1em; }


form { width: 450px; padding: 10px;}
label { float: left; clear: left;
	    margin-left: 60px; 
		display: block; width: 100px; 
	    text-align: right; 
	    padding-right: 10px;
	    margin-top: 10px; }
		
input, textarea { margin-top: 10px; 
                  display: block;}
input[type="submit"] { margin-left: 165px; }		   

</style>
