 h1       {  color: white; 
            background-color: #000033;
	        background-image: url(sunset.jpg);
	        background-position: right;
	        background-repeat: no-repeat;
	        margin-bottom: 0;}

 nav      { margin-top: 0; 
            background: #90C7E3; 
	        border: solid 1px #90C7E3; }
 
 p        { color: #666666; }
 ul       { color: #666666; }
 footer   { color: #666666;
            text-align: center; 
			margin-bottom: 0; } 
 h2       { color: #3399CC; } 
 .gator   { color: #6495ED; 
            font-weight: bold; 
			font-size: 1.1em; }
 h5       { text-align: center;
            margin-top: 0; }
 ul       { list-style-image: url(marker.gif); }

